<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.rinventory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inventory"
            android:label="Inventory" />
        <activity
            android:name=".OutActivity"
            android:label="OUT" />
        <activity
            android:name=".ListBarang"
            android:label="List Barang" />
        <activity
            android:name=".detailbarang"
            android:label="Detail Barang" />
        <activity android:name=".menuActivity" />
        <activity
            android:name=".INActivity"
            android:label="IN" />
        <activity
            android:name=".loginActivity"
            android:label="Login" />
        <activity
            android:name=".reportActivity"
            android:label="Report" />
        <activity
            android:name=".returActivity"
            android:label="Retur" />
        <activity android:name=".report2Activity"
            android:label="Report"/>
    </application>

</manifest>